<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    
    <!-- Vue, Firebase, VueFire, and Jquery added to page -->
    <script src="https://www.gstatic.com/firebasejs/5.5.9/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuefire/1.4.5/vuefire.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!-- javascript and css styling for this page -->
    <link rel="stylesheet" href="style.css">
    <script src="script.js" async></script>
 
    <title>VisArts Submissions</title>
</head>

<body>
    <div id="header">
        <p>DUU VisArts Spring Showcase Voting 2019</p>  
    </div>
    <hr>
    <div class="content">
        <div class="post" id="post">
            <h1>Thank you for your submission! VisArts will be in touch soon.</h1>
        </div>
        <div class="main" id="main">
            <div class="center">
                <div id="input" class="container">
                    <div v-for="a in artInfo" class="row">
                        
                        <div class="row" id="top">
                            <div class="col-sm-3">
                                <p>Image:</p>
                            </div>

                            <div class="col-sm-4" id="image">
                                <!-- <iframe :src="a.url" style="width:100%; height: 100%;"></iframe> -->
                                <img :src="a.url" style="width: 50%; height: 50%;">
                                <!-- <p>{{a.url}}</p> -->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <p>Description:</p>
                            </div>

                            <div class="col-sm-4" id="description">
                                <p>{{a.description}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <p>Title:</p>
                            </div>

                            <div class="col-sm-4" id="title">
                                <p v-model="firstName">{{a.title}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <p>Artist:</p>
                            </div>

                            <div class="col-sm-4" id="netID">
                                <p>{{a.firstName}} {{a.lastName}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <p>Medium:</p>
                            </div>

                            <div class="col-sm-4" id="medium">
                                <p>{{a.medium}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <p>Dimensions:</p>
                            </div>

                            <div class="col-sm-4" id="dimensions">
                                <p>{{a.dimensions}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <p>Your Rating:</p>
                            </div>
                            <!--
                            <div class="col-sm-4">
                                <input type="radio" v-model="rating" id="star5" name="rating" value="5" />
                                <input type="radio" v-model="rating" id="star4" name="rating" value="4" />
                                <input type="radio" v-model="rating" id="star3" name="rating" value="3" />
                                <input type="radio" v-model="rating" id="star2" name="rating" value="2" />
                                <input type="radio" v-model="rating" id="star1" name="rating" value="1" />
                                <br>
                                <label for="star5" title="Rocks!">5</label>
                                <label for="star4" title="Rocks!">4</label>
                                <label for="star3" title="Rocks!">3</label>
                                <label for="star2" title="Rocks!">2</label>
                                <label for="star1" title="Sucks big time">1</label>
                            </div>
                            -->
                        </div>


                        <!-- SUBMIT BUTTON -->
                        <!-- <div class="row">
                            <div class="col-sm-3">
                                <p>Submit:</p>
                            </div>

                            <div class="col-sm-4" id="inputButton">
                                <button v-on:click="add">Enter</button>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>