.center {
    margin: auto;
    width: 50%;
}
.col-sm-3{
    margin-top: .5%;
    margin-bottom: .5%;
}

body {
    display:table;
    width:100%;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('background.png');
    background-position:center top;
    height:350px;
    background-size: cover;
    background-repeat: no-repeat;
}
.center{
    background-color: antiquewhite;
}